<div class="video-background">
    <nav class="navbar navbar-dark fixed-top">
        <a class="navbar-brand mx-auto" href="#">
      Hola yur
    </a>
        <a class="navbar-brand mx-auto" href="#">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <div class="video-wrap">
        <div id="video">
            <video id="bgvid" autoplay loop muted playsinline>
        <source src="/assets/stars.mp4" type="video/mp4" />
      </video>
        </div>
    </div>
</div>

<div class="caption ">
    <div class="row">
        <div class="tarjeta">
            <h1>Hola</h1>
            <button class="btn btn-outline-light btn-lg">Hola</button>
        </div>
        <div class="tarjeta">
            <h1>Hola</h1>
            <button class="btn btn-outline-light btn-lg">Hola</button>
        </div>
        <div class="tarjeta">
            <h1>Hola</h1>
            <button class="btn btn-outline-light btn-lg">Hola</button>
        </div>
    </div>
</div>